@model IEnumerable<Shoppica.MVC.ViewModels.ProductVM>

@foreach (var item in Model)
{
    <div class="s_item grid_2">
        <a class="s_thumb" href="/product/getproductdetails/@item.Id"><img src="~/images/product/@item.Image" title="@item.ProductName" alt="@item.ProductName" /></a>
        <h3><a href="/product/getproductdetails/@item.Id">@item.ProductName</a></h3>
        <p class="s_model">@item.Category.CategoryName</p>
        <p class="s_price s_promo_price">
            <span class="s_old_price">
                <span class="s_currency s_before">₺</span>@string.Format("{0:0.00}",item.UnitPrice)
            </span>
            <span class="s_currency s_before">₺</span>@string.Format("{0:0.00}",item.Discount)
        </p>
        <a class="s_button_add_to_cart" href="/cart/cartadd/@item.Id"><span class="s_icon_16"><span class="s_icon"></span>Sepete Ekle</span></a>
    </div>
}

