@model IEnumerable<Shoppica.MVC.ViewModels.CartProdVM>

@{
    decimal toplam = 0;
}
<!-- ********************** -->
<!--     I N T R O          -->
<!-- ********************** -->
<div id="intro">
    <div id="intro_wrap">
        <div class="container_12">
            <div id="breadcrumbs" class="grid_12">
                <a href="/home/index/">Ana Sayfa</a>
                &gt; <a href="">Sepet</a>
            </div>
            <h1>Sepetim</h1>
        </div>
    </div>
</div>
<!-- end of intro -->
<!-- ********************** -->
<!--      C O N T E N T     -->
<!-- ********************** -->
<div id="content" class="container_12">

    <div id="shopping_cart" class="grid_12">

        <form id="cart" class="clearfix" action="checkout.html">
            <table class="s_table_1" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th width="65">İptal</th>
                    <th width="60">Resim</th>
                    <th width="320">Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Adet</th>
                    <th>Fiyat</th>
                    <th>Toplam</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="even">
                        <td valign="middle">
                            <a id="hremove_95" class="s_button_remove" href="/cart/cartDelete/@item.Id">X</a>
                        </td>
                        <td valign="middle">
                            <a href="/product/getproductdetails/@item.ProductId">
                                <img src="~/images/product/@item.Image" width="60" height="60" alt="@item.ProductName" />
                            </a>
                        </td>
                        <td valign="middle"><a href="/product/getproductdetails/@item.ProductId"><strong>@item.ProductName</strong></a></td>
                        <td valign="middle">@item.CategoryName</td>
                        <td valign="middle"><input type="text" size="3" value="@item.Quantity" readonly /></td>
                        <td valign="middle">@String.Format("{0:0.00}",item.UnitPrice)<span class="s_currency s_after"> TL</span></td>
                        <td valign="middle">@String.Format("{0:0.00}",item.Total)<span class="s_currency s_after"> TL</span></td>
                    </tr>
                    toplam += item.Total;
                }
            </table>
            @{
                decimal kdvsiz = toplam / (decimal)1.18;
                decimal kdv = toplam - kdvsiz;
            }
            <br />
            <p class="s_total"><strong>Ürün Tutar:</strong> @String.Format("{0:0.00}",kdvsiz)<span class="s_currency s_after"> TL</span></p>
            <p class="s_total"><strong>KDV Tutarı(18%):</strong> @String.Format("{0:0.00}",kdv)<span class="s_currency s_after"> TL</span></p>
            <p class="s_total s_secondary_color last"><strong>Toplam:</strong> @String.Format("{0:0.00}",toplam)<span class="s_currency s_after"> TL</span></p>

            <div class="clear"></div>
            <br />

            <a class="s_button_1 s_ddd_bgr left" asp-action="Index" asp-controller="home"><span class="s_text">Alışverişe Devam Et</span></a>
            <a class="s_button_1 s_main_color_bgr" type="submit" href="~/checkout/"><span class="s_text">Sipariş Ver</span></a>
            <a class="s_button_1 s_main_color_bgr"><span class="s_text">Güncelle</span></a>
        </form>

    </div>

    <div class="clear"></div>
    <br />
    <br />

</div>
<!-- end of content -->
