@model IEnumerable<Shoppica.MVC.ViewModels.ProductVM>

@{
    ViewData["Title"] = "GetProducts";

}
@{
    string catName = Model.FirstOrDefault().Category.CategoryName;
    int k = (int)Model.FirstOrDefault().Category.TopId;
}


<!-- ********************** -->
<!--     I N T R O          -->
<!-- ********************** -->

<div id="intro">
    <div id="intro_wrap">
        <div class="container_12">
            <div id="breadcrumbs" class="grid_12">
                <a href="/home/index">Ana Sayfa</a>
                &gt;
                <a href="">@catName</a>
            </div>
            <h1>@catName</h1>
        </div>
    </div>
</div>
<!-- end of intro -->
<!-- ********************** -->
<!--      C O N T E N T     -->
<!-- ********************** -->
<div id="content" class="container_12">


    <div id="category" class="grid_9">

        <div class="s_subcategories s_grid_view s_listing clearfix">

            @await Component.InvokeAsync("AltKategoriVC", new{id=k})
            <div class="clear"></div>
        </div>

        <div id="listing_options">
            <div id="listing_sort" class="s_switcher">
                <span class="s_selected">Default</span>
                <ul class="s_options" style="display: none;">
                    <li><a href="">Name A - Z</a></li>
                    <li><a href="">Name Z - A</a></li>
                    <li><a href="">Price Low &gt; High</a></li>
                    <li><a href="">Price High &gt; Low</a></li>
                    <li><a href="">Rating Highest</a></li>
                    <li><a href="">Rating Lowest</a></li>
                    <li><a href="">Model A - Z</a></li>
                    <li><a href="">Model Z - A</a></li>
                </ul>
            </div>
            <div id="view_mode" class="s_nav">
                <ul class="clearfix">
                    <li id="view_grid" class="s_selected"><a href="~/product/getproducts2/@k"><span class="s_icon"></span>Izgara</a></li>
                    <li id="view_list"><a href="~/product/getproducts/@k"><span class="s_icon"></span>Liste</a></li>
                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div class="s_listing s_grid_view clearfix">

            @for (int i = 0; i < Model.ToList().Count; i++)
            {
                <div class="s_item grid_3">
                    <a class="s_thumb" href="/product/getproductdetails/@Model.ToList()[i].Id">
                        <img src="~/images/product/@Model.ToList()[i].Image" title="@Model.ToList()[i].ProductName" alt="@Model.ToList()[i].ProductName" />
                    </a>
                    <h3><a href="/product/getproductdetails/@Model.ToList()[i].Id">@Model.ToList()[i].ProductName</a></h3>
                    <p class="s_model">@Model.ToList()[i].Category.CategoryName</p>

                    @if (Model.ToList()[i].IsSpecial == false)
                    {
                        @*İndirimsiz Ürün*@
                        <p class="s_price"> <span class="s_currency s_before"> ₺</span>@String.Format("{0:0.00}",Model.ToList()[i].UnitPrice)</p>
                    }
                    else
                    {
                        @*İndirimli Ürün*@
                        <p class="s_price s_promo_price">
                            <span class="s_old_price">
                                <span class="s_currency s_before">₺</span>@String.Format("{0:0.00}",Model.ToList()[i].UnitPrice)
                            </span><span class="s_currency s_before">₺</span>@String.Format("{0:0.00}",Model.ToList()[i].Discount)
                        </p>
                    }

                    <p class="s_rating s_rating_5"><span style="width: 60%;" class="s_percent"></span></p>
                    <a class="s_button_add_to_cart" href="/cart/cartadd/@Model.ToList()[i].Id"><span class="s_icon_16"><span class="s_icon"></span>Sepete Ekle</span></a>
                </div>
                if ((i + 1) % 3 == 0)
                {
                    <div class="clear"></div>
                }
            }


        </div>

        <div class="pagination">
            <div class="results">Showing 1 to 6 of 6 (1 Pages)</div>
        </div>

    </div>

    <div id="right_col" class="grid_3">
        <div id="cart_side" class="s_box_1 s_cart_holder">
            <h2 class="s_secondary_color">Sepetim</h2>
            <div id="cart_side_contents">
                @*CartListVC'dan gelecek*@
                @*<p class="s_mb_0">0 items</p>*@

                @await Component.InvokeAsync("CartListVC")
            </div>
        </div>

        <div id="categories_module" class="s_box">
            <h2>Kategoriler</h2>
            <div class="s_list_1">
                <ul>
                    @await Component.InvokeAsync("RightCategoriesVC", new {id=k})

                </ul>
            </div>
        </div>

        <div id="brands_module" class="s_box">
            <h2>Brands</h2>
            <select onchange="location = this.value">
                <option> --- Lütfen Seçiniz --- </option>

                @await Component.InvokeAsync("BrandVC")
            </select>
        </div>

        <div id="bestseller_side" class="s_box clearfix">
            <h2>En Çok Satanlar</h2>
            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="iPhone 3GS 8GB" /></a>
                <h3><a href="product.html">iPhone 3GS 8GB</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>587.50</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Hubo Boss Emotion" /></a>
                <h3><a href="product.html">Hubo Boss Emotion</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>2,350.00</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Panasonic Lumix" /></a>
                <h3><a href="product.html">Panasonic Lumix</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Casio Exilim Zoom" /></a>
                <h3><a href="product.html">Casio Exilim Zoom</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Christian Dior Amber Woman" /></a>
                <h3><a href="product.html">Christian Dior Amber Woman</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>328.99</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="iPod Classic" /></a>
                <h3><a href="product.html">iPod Classic</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Sony VAIO" /></a>
                <h3><a href="product.html">Sony VAIO</a></h3>
                <p><a href="product.html"><span class="s_old"><span class="s_currency s_before">£</span>1,175.00</span> <span class="s_secondary_color"><span class="s_currency s_before">£</span>1,057.50</span></a></p>
                <div class="s_rating_holder clearfix"><p class="s_rating s_rating_small s_rating_5 left"><span style="width: 100%;" class="s_percent"></span></p><span class="left">&nbsp;5/5</span></div>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Canon Digital Ixus 200 IS" /></a>
                <h3><a href="product.html">Canon Digital Ixus 200 IS</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Hugo Boss Chrome" /></a>
                <h3><a href="product.html">Hugo Boss Chrome</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Hennesy Paradis Extra" /></a>
                <h3><a href="product.html">Hennesy Paradis Extra</a></h3>
                <p><a href="product.html"><span class="s_old"><span class="s_currency s_before">£</span>1,175.00</span> <span class="s_secondary_color"><span class="s_currency s_before">£</span>1,057.50</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Elizabeth Arden Pretty" /></a>
                <h3><a href="product.html">Elizabeth Arden Pretty</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
            </div>

            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Sony Cyber Shot S1000" /></a>
                <h3><a href="product.html">Sony Cyber Shot S1000</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
            </div>
        </div>

        <div id="information_module" class="s_box">
            <h2>Bilgilendirme</h2>
            <ul class="s_list_1">
                <li><a href="static.html">Shoppica Hakkında</a></li>
                <li><a href="static.html">Gizlilik/Güvenlik</a></li>
                <li><a href="static.html">Kullanım Şartları</a></li>
                <li><a href="contacts.html">İletişim</a></li>
                <li><a href="sitemap.html">Site Haritası</a></li>
            </ul>
        </div>

        <div id="featured_side" class="s_box clearfix">
            <h2>Son Arananlar</h2>
            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="White football trainers" /></a>
                <h3><a href="product.html">White football trainers</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
            </div>
            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Hubo Boss Emotion" /></a>
                <h3><a href="product.html">Hubo Boss Emotion</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>2,350.00</span></a></p>
            </div>
            <div class="s_item s_size_1 clearfix">
                <a class="s_thumb" href="product.html"><img src="~/images/product_38x38.jpg" width="38" height="38" alt="Christian Dior J'adore" /></a>
                <h3><a href="product.html">Christian Dior J'adore</a></h3>
                <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>328.99</span></a></p>
            </div>
        </div>

    </div>


</div>
<!-- end of content -->
